.comments textarea{
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #e0f0e3;
    font-size: 16px;
    resize: none;
}

.box-header{
    margin-bottom: 30px;
}
fieldset{
    margin-bottom: 5px;
}

fieldset > fieldset > div {
    margin-left: 20px;
    margin-right: 10px;
}

fieldset > div {
    margin-left: 20px;
    margin-right: 10px;
}

.tab-content > div {
    margin-left: 10px;
    margin-right: 10px;
}

fieldset > legend {
    margin-left: 10px;
    font-weight: 600;
}

.myclass{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    margin: 5px;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.container2 {
    padding: 2px 16px;
}

#editor {
    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

#jsonfileinput {
    color: rgba(0, 0, 0, 0);
}

.checkbox input[id="validateCheck"] {
    display: none;
}

.checkbox label {
    padding-left: 0;
}

.checkbox label:before {
    content: "";
    width: 25px;
    height: 25px;
    display: inline-block;
    vertical-align: bottom;
    margin-right: 10px;
    line-height: 25px;
    text-align: center;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    font-family: "FontAwesome";
}

.checkbox input[id="validateCheck"]:checked+label::before {
    content: "\f00c";
}
